version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    privileged: true       
    user: root            
    container_name: jenkins-ci
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home        
      - /var/run/docker.sock:/var/run/docker.sock 
    networks:
      - app-network-ci  

volumes:
  jenkins_home:

networks:
  app-network-ci:
    external: true